In [29]:
# https://stockcharts.com/school/doku.php?id=chart_school:technical_indicators:average_directional_index_adx

In [7]:
import pandas as pd

import sys
sys.path.append("..") # Adds higher directory to python modules path.
#from ta import *
from ta import *

In [8]:
high_data =[30.19830,
30.27760,
30.44580,
29.34780,
29.34770,
29.28860,
28.83340,
28.73460,
28.66540,
28.85320,
28.63560,
27.67610,
27.21120,
26.86510,
27.40900,
26.94410,
26.51890,
26.51890,
27.09270,
27.68600,
28.44770,
28.52670,
28.66540,
29.01160,
29.87200,
29.80280,
29.75290,
30.65460,
30.59510,
30.76350,
31.16980,
30.89230,
30.04020,
30.66450,
30.59510,
31.97240,
32.10110,
32.03170,
31.62550,
31.85340,
32.70550,
32.76480,
32.57660,
32.13080,
33.12150,
33.19
]

low_data = [29.40720,
29.31820,
29.96110,
28.74430,
28.55660,
28.40810,
28.08180,
27.42890,
27.65650,
27.83450,
27.39920,
27.09270,
26.18260,
26.13320,
26.62770,
26.13320,
25.43070,
25.35180,
25.87600,
26.96400,
27.14210,
28.01230,
27.88400,
27.99280,
28.76430,
29.14020,
28.71270,
28.92900,
30.03040,
29.38630,
30.13650,
30.42670,
29.34670,
29.99060,
29.51520,
30.94180,
31.53640,
31.35800,
30.92200,
31.19940,
32.13080,
32.22980,
31.97240,
31.55620,
32.21010,
32.63
]

close_data = [29.87200,
30.23810,
30.09960,
28.90280,
28.92250,
28.47750,
28.55660,
27.55760,
28.46750,
28.27960,
27.48820,
27.23100,
26.35070,
26.33090,
27.03330,
26.22210,
26.01440,
25.46050,
27.03330,
27.44870,
28.35860,
28.42780,
27.95300,
29.01160,
29.37760,
29.35760,
28.91070,
30.61490,
30.05020,
30.18900,
31.12020,
30.53560,
29.78270,
30.04020,
30.48610,
31.46700,
32.05150,
31.97240,
31.13020,
31.65510,
32.63600,
32.58660,
32.19030,
32.10110,
32.93350,
33.0
]

In [9]:
df = pd.DataFrame()
df['high'] = high_data
df['low'] = low_data
df['close'] = close_data

In [10]:
close = df['close']
high = df['high']
low = df['low']
n = 14
fillna = False

In [12]:

adx(close, high, low, n, False)

       ADX_14     DMP_14     DMN_14
0         NaN        NaN        NaN
1         NaN        NaN        NaN
2         NaN        NaN        NaN
3         NaN        NaN        NaN
4         NaN        NaN        NaN
5         NaN        NaN        NaN
6         NaN        NaN        NaN
7         NaN        NaN        NaN
8         NaN        NaN        NaN
9         NaN        NaN        NaN
10        NaN        NaN        NaN
11        NaN        NaN        NaN
12        NaN        NaN        NaN
13        NaN        NaN        NaN
14        NaN  17.243949  29.793007
15        NaN  15.917460  33.055520
16        NaN  15.247088  36.903764
17        NaN  13.149834  31.827611
18        NaN  25.717725  25.155890
19        NaN  24.407155  20.414097
20        NaN  28.385851  17.693285
21        NaN  25.672997  15.675249
22        NaN  24.776101  15.127628
23        NaN  30.811188  13.806027
24        NaN  28.358544  11.561440
25        NaN  26.521216  11.299227
26        NaN  25.341305  11.157779
27  33.433736  32.435075   9.368999
28  35.584262  28.546172   8.614854
29  37.556945  28.816775   8.422861
30  39.947683  30.707815   7.312970
31  41.323150  29.980171   8.921938
32  40.616757  29.521211  14.588746
33  40.242634  28.421670  13.200836
34  40.318451  31.192374  13.026978
35  41.140783  30.606748  10.317855
36  42.250121  32.169979   9.650765
37  43.105122  32.352088  10.160876
38  43.059836  32.382877  13.044288
39  43.407404  34.238157  12.275628
40  44.332577  36.571115  10.736911
41  45.171959  35.897735  10.539213
42  45.557201  36.279842  12.113749
43  45.048459  37.794051  16.505454
44  45.191855  38.001457  13.752542
45  45.367650  35.554054  12.679926

In [14]:
cs = close.shift(1)
pdm = high.combine(cs, lambda x1, x2: max(x1, x2) if np.isnan(x1) == False and np.isnan(x2) == False else np.nan)
pdn = low.combine(cs,  lambda x1, x2: min(x1, x2) if np.isnan(x1) == False and np.isnan(x2) == False else np.nan)
tr = pdm - pdn

trs_initial = np.zeros(n-1)
trs = np.zeros(len(close) - (n - 1))
trs[0] = tr.dropna()[0:n].sum()
tr = tr.reset_index(drop=True)
for i in range(1, len(trs)-1):
    trs[i] = trs[i-1] - (trs[i-1]/float(n)) + tr[n+i]

up = high - high.shift(1)
dn = low.shift(1) - low
pos = abs(((up > dn) & (up > 0)) * up)
neg = abs(((dn > up) & (dn > 0)) * dn)

dip_mio = np.zeros(len(close) - (n - 1))
dip_mio[0] = pos.dropna()[0:n].sum()

pos = pos.reset_index(drop=True)
for i in range(1, len(dip_mio)-1):
    dip_mio[i] = dip_mio[i-1] - (dip_mio[i-1]/float(n)) + pos[n+i]

din_mio = np.zeros(len(close) - (n - 1))
din_mio[0] = neg.dropna()[0:n].sum()

neg = neg.reset_index(drop=True)
for i in range(1, len(din_mio)-1):
    din_mio[i] = din_mio[i-1] - (din_mio[i-1]/float(n)) + neg[n+i]

dip = np.zeros(len(trs))
for i in range(len(trs)):
    dip[i] = 100 * (dip_mio[i]/trs[i])

din = np.zeros(len(trs))
for i in range(len(trs)):
    din[i] = 100 * (din_mio[i]/trs[i])

dx = 100 * np.abs((dip - din) / (dip + din))

adx = np.zeros(len(trs))
adx[n] = dx[0:n].mean()

for i in range(n+1, len(adx)):
    adx[i] = ((adx[i-1] * (n - 1)) + dx[i-1]) / float(n)

adx = np.concatenate((trs_initial, adx), axis=0)
adx = pd.Series(data=adx, index=close.index)

if fillna:
    adx = adx.replace([np.inf, -np.inf], np.nan).fillna(20)

/Users/lecrintech/projects/python/ta/env/lib/python3.6/site-packages/ipykernel_launcher.py:34: RuntimeWarning: invalid value encountered in double_scalars
/Users/lecrintech/projects/python/ta/env/lib/python3.6/site-packages/ipykernel_launcher.py:38: RuntimeWarning: invalid value encountered in double_scalars

In [15]:
adx

0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
5      0.000000
6      0.000000
7      0.000000
8      0.000000
9      0.000000
10     0.000000
11     0.000000
12     0.000000
13     0.000000
14     0.000000
15     0.000000
16     0.000000
17     0.000000
18     0.000000
19     0.000000
20     0.000000
21     0.000000
22     0.000000
23     0.000000
24     0.000000
25     0.000000
26     0.000000
27    33.583346
28    32.153495
29    29.929224
30    28.357618
31    26.898269
32    25.776479
33    23.945905
34    22.783298
35    22.071526
36    21.527598
37    20.799472
38    19.590574
39    18.717556
40    18.751525
41    18.837766
42    18.554378
43    17.726855
44    17.954503
45    18.228247
dtype: float64

In [16]:
df

       high      low    close
0   30.1983  29.4072  29.8720
1   30.2776  29.3182  30.2381
2   30.4458  29.9611  30.0996
3   29.3478  28.7443  28.9028
4   29.3477  28.5566  28.9225
5   29.2886  28.4081  28.4775
6   28.8334  28.0818  28.5566
7   28.7346  27.4289  27.5576
8   28.6654  27.6565  28.4675
9   28.8532  27.8345  28.2796
10  28.6356  27.3992  27.4882
11  27.6761  27.0927  27.2310
12  27.2112  26.1826  26.3507
13  26.8651  26.1332  26.3309
14  27.4090  26.6277  27.0333
15  26.9441  26.1332  26.2221
16  26.5189  25.4307  26.0144
17  26.5189  25.3518  25.4605
18  27.0927  25.8760  27.0333
19  27.6860  26.9640  27.4487
20  28.4477  27.1421  28.3586
21  28.5267  28.0123  28.4278
22  28.6654  27.8840  27.9530
23  29.0116  27.9928  29.0116
24  29.8720  28.7643  29.3776
25  29.8028  29.1402  29.3576
26  29.7529  28.7127  28.9107
27  30.6546  28.9290  30.6149
28  30.5951  30.0304  30.0502
29  30.7635  29.3863  30.1890
30  31.1698  30.1365  31.1202
31  30.8923  30.4267  30.5356
32  30.0402  29.3467  29.7827
33  30.6645  29.9906  30.0402
34  30.5951  29.5152  30.4861
35  31.9724  30.9418  31.4670
36  32.1011  31.5364  32.0515
37  32.0317  31.3580  31.9724
38  31.6255  30.9220  31.1302
39  31.8534  31.1994  31.6551
40  32.7055  32.1308  32.6360
41  32.7648  32.2298  32.5866
42  32.5766  31.9724  32.1903
43  32.1308  31.5562  32.1011
44  33.1215  32.2101  32.9335
45  33.1900  32.6300  33.0000

In [17]:
adx2(df['close'], df['high'], df['low'], n, fillna)

0            NaN
1     100.000000
2     100.000000
3      83.997725
4      75.379000
5      70.720473
6      70.075973
7      69.964022
8      59.756495
9      51.874891
10     46.826326
11     46.099268
12     46.489194
13     47.401459
14     45.108992
15     44.032299
16     43.774621
17     43.550489
18     39.434259
19     36.547785
20     35.314600
21     34.306622
22     33.407064
23     33.817963
24     34.527756
25     35.012337
26     35.334006
27     36.972938
28     38.333967
29     39.662419
30     41.414151
31     42.424041
32     41.748779
33     41.343664
34     41.323197
35     41.960319
36     42.872685
37     43.584712
38     43.507661
39     43.788220
40     44.603144
41     45.353775
42     45.696358
43     45.212775
44     45.334695
45     45.489389
Name: adx, dtype: float64